<input type="text" placeholder="Inserisci nome..." [(ngModel)]="contatto.nome" />
<input type="text" placeholder="Inserisci cognome..." [(ngModel)]="contatto.cognome" />
<input type="text" placeholder="Inserisci numero..." [(ngModel)]="contatto.telefono" />
<br>
<button (click)="aggiungi()">
    Aggiungi
</button>
<button (click)="mostra()">
    Aggiorna
</button>
<button (click)="conta()">
    Conta
</button>
<p *ngIf="count">Risultati ricerca: {{count}}</p>
<table>
    <th>
        Nome
    </th>
    <th>
        Cognome
    </th>
    <th>
        Numero telefonico
    </th>
    <tr *ngFor="let c of contatti">
        <td>{{c.nome}}</td>
        <td>{{c.cognome}}</td>
        <td>{{c.telefono}}</td>
        <button (click)="rimuovi(c)">X</button>
    </tr>
</table>